*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --red-alert: rgba(199, 49, 12, 0.877);
    --green-alert: rgba(85, 224, 21, 0.877):
    --yellow-alert: #e6d00ec4;
}

ul,li{
    list-style: none;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    padding-top: 10px;
    text-align: center;
}

.wrapper{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 15px;
    text-align: center;
    height: calc(100vh - 100px);
}

ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

li{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 118px;
    height: inherit;
    display: flex;
    border: 5px solid #e5c137;
    border-radius: 5px;
}

li>img{
    width: 90px;
    flex: 1;
}

label{
    margin: 20px;
}

label>input{
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-family: 'ubuntu';
}
label>input:hover{
    background-color: #ccc;
}
label>input:active{
    background-color: rgb(102, 100, 100);
}

.result{
    color: #fff;
}

@keyframes loser{
    0% {
        background-color: var(--red-alert);
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: var(--red-alert);
    }
}
.loser {
    animation-name: loser;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes two-Hits{
    0% {
        background-color: var(--yellow-alert);
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: var(--yellow-alert);
    }
}
.two-Hits {
    animation-name: loser;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes winner{
    0% {
        background-color: green;
    }
    25% {
        background-color: black;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: black;
    }
    100% {
        background-color: green;
    }
}
.winner {
    animation-name: winner;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

audio{
    display: none;
}

@media screen and (min-width: 500px){
    ul{
        height: 200px;
    }
    li{
        width: 150px;
        margin: 2px;
    }
    
}

@media screen and (min-width: 700px){
    ul{
        height: 220px;
    }
    li{
        width: 180px;
    }
    label>input{
        width: 120px;
    }
    
}